<!DOCTYPE html>

<html lang="en">

{% include head.html %}

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">An innovative method for<Br>understanding scientific articles</span>
        <span class="site-heading-lower">C.R.E.A.T.E.S.</span></span>
    </h1>

    {% include navbar.html %}

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">What is</span>
                        <span class="section-heading-lower">C.R.E.A.T.E.S.?</span>
                    </h2>
                    <p class="mb-3">The C.R.E.A.T.E.S. method is a set of 6 steps that help you read, analyze, and understand the narrative of scientific papers. Scroll down for instructions, FAQs, and more information, or click the button below to get started!
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="{{ 'c/' | absolutel_url }}">Get started!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex mr-auto rounded">
                        <!-- change to ml-auto to push right -->
                        <div class="section-heading mb-0">
                            <h2 class="mb-0">
                                <span class="section-heading-upper">Instructions</span>
                                <span class="section-heading-lower">How to use the C.R.E.A.T.E.S. site</span>
                            </h2>
                            <div class="mt-2" style="text-transform: none">
                                <div class="row mt-3">
                                    <div class="col-12 col-sm-12 col-md-4">
                                        <div class="mx-auto">
                                            <a data-toggle="modal" data-target="#step-1-1-info" href="#"><img src="{{ '/img/home_acronym.png' | absolute_url }}" class="img-thumbnail " alt="CREATES acronym. Concept map the introduction. Read and annotate the methods and results. Elucidate the hypothesis for each experiment. Analyze and interpret the data. Think of the next Experiment. Synthesize the entire paper to illustrate the scientific narrative."></a>
                                        </div>
                                    </div>
                                    <div class="col col-sm-12 col-md-8">
                                        <ol>
                                            <li>Choose any primary scientific journal article.</li>
                                            <li>Start at C and go in order (or, choose one letter to focus on).</li>
                                            <li>Read the entire webpage.</li>
                                            <ul>
                                                <li><strong>Steps</strong>: Specific, concrete steps to follow for each letter.</li>
                                                <li><strong>Examples</strong>: Real student examples with real instructor feedback.</li>
                                                <li><strong>Tips</strong>: Additional tips, strategies, and quotes, plus a checklist to track your progress.</li>
                                            </ul>
                                            <li>Give it a try!</li>
                                            <li>Advance to the next letter!</li>
                                        </ol>
                                        <div class="intro-button mx-auto text-center">
                                            <a class="btn btn-primary btn-xl" href="{{ 'c/' | absolutel_url }}">Get started!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner rounded">
                        <h2 class="section-heading mb-4 text-center">
                            <span class="section-heading-upper">FAQ's</span>
                            <span class="section-heading-lower">Frequently Asked Questions</span>
                        </h2>
                        <p class="mb-0">
                            <h4>Should I do all the letters in order?</h4>
                            <p>We recommend that you follow the letters in order to gain a complete understanding of the article. However, you are welcome to focus on a single step if it suits your needs.</p>
                            <h4>Can I choose articles from any discipline?</h4>
                            <p>The C.R.E.A.T.E.S. process works for most academic articles in any scientific discipline, including social science papers with quantitative methods.</p>
                            <h4>How long does it take to complete each letter?</h4>
                            <p>Completing each letter can take anywhere from 1-3 hours, so pace yourself!</p>
                            <h4>Where can I find the links to the articles in the examples?</h4>
                            <p>Click the plus (+) icon in the lower right corner of each example for a link to the article.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Credits -->
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex mr-auto rounded">
                        <!-- change to ml-auto to push right -->
                        <div class="section-heading mb-0">
                            <h2 class="mb-0">
                                <span class="section-heading-upper">About</span>
                                <span class="section-heading-lower">Credits &amp; Resources</span>
                            </h2>
                            <div class="mt-2" style="text-transform: none">
                                <p>The CREATE process was developed and assessed by Dr. Sally Hoskins, The City College of New York, Biology Department.</p>
                                <h4>Site Authors</h4>
                                <p><strong>Pedagogy Lead &amp; Instructional Material:</strong> Dr. Jordan Moberg Parker</p>
                                <p><strong>Website &amp; Multimedia Development:</strong> Kian Ravaei, Doug Worsham, Xinyi(Alex) Yan</p>
                                <p><strong>Contributors:</strong> Salma Abumeeiz, Giselle Burns, Juan Díaz, Taylor Harper, Royson Lin, Christopher Lopez, Renee Romero, Hannah Sutherland, April Zhou</p>
                                <h4>Additional Resources</h4>
                                <ul>
                                    <li><a href="https://web.archive.org/web/20230422193816/https://teachcreate.org/" target="_blank">Teach C.R.E.A.T.E.</a></li>
                                    <li><a href="https://uclalibrary.github.io/research-tips/" target="_blank">WI+RE (Writing Instruction + Research Education)</a></li>
                                    <li>Links to assessment and literature coming soon!</li>
                                </ul>
                                <h4>Contact</h4>
                                <p>Have questions? Comments? Feedback? <a href="https://docs.google.com/forms/d/e/1FAIpQLSfhNlhf87K5P7YOXaYJ0gpArdwZZwvV77hZa9ow_8pSDWUf7Q/viewform?usp=sf_link" target="_blank">Click here</a> to get in touch!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- an optional image/overview can be included here -->
                <!-- an image that combines expert learner/teacher quote with visual illustration of tip could be powerful -->
                <!--
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ 'img/placeholder.png' | absolute_url }}" alt="A placeholder image.">
        -->
                <!-- an optional text box to include below the image -->
                <!--
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
                <div class="mb-0">
                      <p>This is an optional box of text that you can include below the image if you want to.</p>
                      <p>Note that without the image, this will overlap with the text box above.</p>
                </div>
          </div>
        </div>
        -->
            </div>
        </div>
    </section>

  <!-- navigation at bottom of page -->
<section>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="{{ 'c/' | absolute_url }}" aria-label="Next">
                    <span aria-hidden="true">C &raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>

    {% include footer.html %}

    <!-- ********* -->
    <!-- modals - these pop up to provide more info about each step -->
    <!-- ********* -->
    <!-- Modal 1.1 - Pop up with more information -->
    <div class="modal fade" id="step-1-1-info" tabindex="-1" role="dialog" aria-labelledby="More information on step 1.1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<h5 class="modal-title" id="exampleModalLabel">More information on step 1.1</h5>-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body"> <img src="{{ '/img/home_acronym.png' | absolute_url }}" class="img-thumbnail img-fluid" alt="CREATES acronym. Concept map the introduction. Read and annotate the methods and results. Elucidate the hypothesis for each experiment. Analyze and interpret the data. Think of the next Experiment. Synthesize the entire paper to illustrate the scientific narrative.">
                    <!--<p>More information and detailed explaination here.</p>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
